<mat-card>
  <h1>Add Quizzes to {{ qTitle }}</h1>
  <!-- {{ question | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="submitForm()">
            <!-- Content -->
            <mat-form-field class="w100" appearance="fill">
              <mat-label class="mb20">Enter Content</mat-label>

              <div style="display: none">
                <textarea
                  rows="5"
                  matInput
                  placeholder="Enter Question"
                  title="content"
                  required
                  name="=content"
                  [(ngModel)]="question.content"
                ></textarea>
              </div>

              <div class="mt20">
                <ckeditor
                  [editor]="Editor"
                  name="=content"
                  dir="auto"
                  [(ngModel)]="question.content"
                ></ckeditor>
              </div>
              <mat-error> only copy paste works </mat-error>
            </mat-form-field>
            <!-- Option1 -->
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Enter Option1</mat-label>
              <input
                required
                matInput
                placeholder="Enter Option 1"
                title="option1"
                name="=option1"
                [(ngModel)]="question.option1"
              />
            </mat-form-field>
            <!-- Option2 -->
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Enter Option2</mat-label>
              <input
                required
                matInput
                placeholder="Enter Option 2"
                title="option2"
                name="=option2"
                [(ngModel)]="question.option2"
              />
            </mat-form-field>

            <!-- Option3 -->
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Enter Option3</mat-label>
              <input
                required
                matInput
                placeholder="Enter Option 3"
                title="option3"
                name="=option3"
                [(ngModel)]="question.option3"
              />
            </mat-form-field>
            <!-- Option2 -->
            <mat-form-field class="w100" appearance="fill">
              <mat-label>Enter Option4</mat-label>
              <input
                required
                matInput
                placeholder="Enter Option 4"
                title="option4"
                name="=option4"
                [(ngModel)]="question.option4"
              />
            </mat-form-field>
            <!-- Answer -->

            <mat-form-field class="w100" appearance="fill">
              <mat-label>Select Answer</mat-label>
              <mat-select required name="=answer" [(ngModel)]="question.answer">
                <mat-option
                  *ngIf="question.option1"
                  value="{{ question.option1 }}"
                  >{{ question.option1 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option2"
                  value="{{ question.option2 }}"
                  >{{ question.option2 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option3"
                  value="{{ question.option3 }}"
                  >{{ question.option3 }}</mat-option
                >
                <mat-option
                  *ngIf="question.option4"
                  value="{{ question.option4 }}"
                  >{{ question.option4 }}</mat-option
                >
              </mat-select>
            </mat-form-field>

            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
