<mat-card>
  <h1>Add Categories</h1>
  <!-- {{ category | json }} -->
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <form (ngSubmit)="formSubmit()">
            <mat-form-field class="w100" appearance="outline">
              <mat-label> Title </mat-label>

              <input
                autofocus
                type="text"
                name="title"
                placeholder="Enter Here"
                matInput
                [(ngModel)]="category.title"
                required
              />
            </mat-form-field>
            <mat-form-field class="w100" appearance="outline">
              <mat-label> Description </mat-label>

              <textarea
                matInput
                rows="12"
                placeholder="Enter Description"
                name="Description"
                [(ngModel)]="category.description"
                required
              ></textarea>
            </mat-form-field>
            <div class="container text-center">
              <button type="submit" mat-raised-button color="primary">
                Add
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
