<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center  ">
                    <img class="registerIcon" src="../../../assets/logo.jpg" alt="">
                </div>
                <h1 class="text-center">Register Here !!</h1>

                <form>

                    <!--  First Name-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input matInput placeholder="Enter First Name">
                    </mat-form-field>

                    <!--  Last Name-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input matInput placeholder="Enter Last Name">
                    </mat-form-field>

                    <!--  Email-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Enter Email">
                    </mat-form-field>

                    <!--  Phone No-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input matInput placeholder="Enter Phone Number">
                    </mat-form-field>



                    <!--  User Name-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input matInput placeholder="Enter User Name">
                        <!-- <mat-hint>Unique user name</mat-hint> -->
                    </mat-form-field>

                    <!--  User Password-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" matInput placeholder="Enter Password">
                        <!-- <mat-hint>Unique user name</mat-hint> -->
                    </mat-form-field>

                    <!--  About-->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>About</mat-label>
                        <textarea matInput placeholder="Enter About you"></textarea>
                    </mat-form-field>

                </form>

                <div class="container text-center">

                    <button mat-raised-button color="primary">Register</button>
                    <button style="margin-left: 20px;" mat-raised-button color="warn">Reset</button>

                </div>

            </div>
        </div>
    </div>
</div>